@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 500;
}


@font-face{
  font-family: BerkshireSwash-Regular;
  src: url(../fonts/BerkshireSwash-Regular.ttf);
}


body {
  font-family: OpenSans;
  font-size: 18px;
  width: 1150px;
  color: #333;
  margin: 0 auto;
}

table{
  font-size: 18px;
  border-collapse: collapse;
}

th{
  width: auto;
  min-width: 120px;
  text-align: left;
  background: #2980b9;
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

td{
  padding: 7px 7px 7px 10px;
  width: auto;
  min-width: 0px;
}

#timeRow input {
  width: 100px;
}

#redirectRow input {
  width: 170px;
}

#websiteRow input {
  width: 220px;
}

#incognitoRow {
  padding-left: 20px
}

.header{
  font-size: 60px;
  background-color: #2980b9;
  color: white;
  font-weight: 300;
  padding: 20px;
  height: 87px;
}

.header div{
  float: left;
  margin-left: 16px;
}

.body{
  background-color: #f6f6f6;
  padding: 1px 20px 1px 20px;
}

.section{
  color: #2980b9;
  font-size: 35px;
  font-weight: 500;
  margin: 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.logo{
  height:100px;
  float: left;
  margin-top: -4px;
}

.cUpdate{
    min-width: 50px;
}

.quoteCenter {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 40px;
    text-align: center;
}

.quoteAuthor{
  float:right;
  margin-top: 10px;
  font-size: 80%;
}

.quoteBody{
  width:100%;
  color:#ecf0f1;
  color:white;
  font-family: BerkshireSwash-Regular;
}

.optionsButton{
  color: #f6f6f6;
  background-color: #2980b9;
  border: 1px solid #2980b9!important;
  font-size: 15px!important;
  padding: 8px 23px;
}

.optionsButton:hover{
  color:#2980b9 ;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: 0.4s;
}

.popupBody{
  width: 250px;
  font-size: 15px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.popupHeader{
  background-color: #2980b9;
  color: white;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
}

.popupHeader img{
  height: 35px;
  margin-left: 2px;
}

.popupHeader div{
  margin-left: 45px;
}

.popupHeader div img{
  height: 15px;
  margin-left: 54px;
  margin-bottom: -1px;
}

.popupButton{
  width: 100%;
  background-color: white;
  color: #2980b9;
  border: none!important;
  border-top: 1px solid #2980b9!important;
  padding: 11px 10px 9px 10px;
}

.popupButton:hover{
  color: white;
  background-color: #2980b9;
}

.pBlocked{
  width:180px;
}

.pTime{
  width:20px;
}

.pGlobalBudgetRow{
  border-bottom: 1px solid #2980b9;
}

.cUpdate .optionsButton{
  padding: 5px;
  float: right;
  margin-left: 4px;
}

.cUpdate .optionsButton:hover{
  color: #f6f6f6 ;
  background-color: #2980b9;
  cursor: pointer;
  transition: none;
}

.cUpdate .optionsButton img{
  height: 15px;
}

.noBlocked{
  text-align: center;
  color: #a8a8a8;
  padding: 16px 13px 13px 13px!important;
}

td input{
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 6px;
}

#popupList{
  /*padding: 10px 5px;*/
}

#popupList table{
  width: 100%;
  margin: 7px 0px 10px 0px;
}

#popupList td{
  padding: 6px 14px;
  font-size: 15px;
  min-width: unset;
}

#blockList{
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.blockForm{
  padding-left: 10px;
  margin-bottom: 40px;
  margin-top: 35px;
}

.blockForm input{
  margin: 7px;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 6px;
}

.blockForm input.optionsButton{
  padding: 10px 23px;
}

#blockButton{
  margin: 15px 0 0 0!important;
}

#cogButton{
  cursor: pointer;
}

.container {
  display: block;
  position: relative;

  margin-top: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container2 {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
  opacity: 0;
  width: 0;
}


/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-left: 157px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  margin-top: -2px;
  margin-left: 0px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2980b9;
}

.container2 input:checked ~ .checkmark2 {
  background-color: #2980b9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container2 .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.g1{
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g2{
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g3{
  background: #B24592;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g4{
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g5{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g6{
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g7{
  background: #525252;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g8{
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g9{
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g10{
  background: #ff0084;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g11{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g12{
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g13{
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g14{
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g15{
  background: #D38312;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g16{
  background: #F0C27B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+   */
}
.g17{
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g18{
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g19{
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g20{
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g21{
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
